---
import { generateToc } from "@/utils/generateToc";
import type { MarkdownHeading } from "astro";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<div class="lg:sticky lg:top-12 lg:order-2 lg:ml-8 xl:ml-16 lg:basis-56 xl:basis-64">
	<nav class="lg:w-full">
		<ol>
			{toc.map((heading) => <TOCHeading heading={heading} />)}
		</ol>
	</nav>
</div>
